html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;       
  flex-direction: column; 
  padding: 25px;
  background-color: rgb(18, 18, 18);
  color: rgb(216, 196, 164);
}

textarea {
  background-color: rgb(38, 38, 38);
  color: rgb(216, 196, 164);
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 10px; 
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;           
}

button {
  background-color: rgb(50, 50, 50);
  color: rgb(216, 196, 164);
  cursor: pointer;
  width: 200px;
  height: 50px;
  flex-grow: 1;
} 

#resultOutput {
  white-space: pre-wrap;
}
